@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    background: url("./assets/PokemonBeach.jpg") no-repeat center/cover ;
    overflow: hidden; 
}

input, select {
    border: 1mm solid ;
}

section {
    display: inline-block;
    padding: 5em;   
}